<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4 in a row</title>
</head>
<body>
  <div class="header">
    <h1>4 IN A ROW</h1>
    <button class="reset" (click)="resetBoard()">Play Again</button>
  </div>
      <div class="board" *ngIf="!gameOver(); else gameOverTemplate">
        <div class="column" *ngFor="let column of board; let index=index;">
          <span class="{{place}}" *ngFor="let place of column"></span>
          <span class="cell cell--used" *ngFor="let dummy of getDummies(column)"></span>
          <span (click)="turn(index)" class="cell"></span>
        </div>
      </div>


  <ng-template #gameOverTemplate>
    <h1>Won</h1>
    <div class="board">
      <div class="column" *ngFor="let column of board; let index=index;">
        <span class="{{place}}" *ngFor="let place of column"></span>
        <span class="cell cell--used" *ngFor="let dummy of getDummies(column)"></span>
        <span class="cell"></span>
      </div>
    </div>
  </ng-template>
</body>
</html>
